<include href="views/header.html"></include>
<body>


<div class="container-fluid text-center">
    <h2>Robotic Pet</h2>
    <form action="#" method="POST" class="mx-auto w-50">
        <div class="row">
            <label for="accessories" class="form-label">What accessories would you like?</label>
            <select class="form-select" name="accessories" id="accessories">
                <option value="battery">Battery Packs</option>
                <option value="speaker">Bluetooth Speaker</option>
                <option value="voice">Voice Module</option>
                <option value="remote">Remote Control</option>
            </select>
        </div>

        <button class="btn btn-success">Place order</button>
    </form>
</div>

</body>
</html>