<include href="views/header.html"></include>
<body>


<div class="container-fluid text-center">
    <h2>Robotic Pet</h2>
    <form action="#" method="POST" class="mx-auto w-50">
        <div class="row">
            <label for="size" class="form-label">What size would you like?</label>
            <select class="form-select" name="size" id="size">
                <option value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="large">Large</option>
            </select>
        </div>

        <div class="row">
            <label for="material" class="form-label">What Material would you like?</label>
            <select class="form-select" name="material" id="material">
                <option value="cotton">Cotton</option>
                <option value="beads">Beads</option>
            </select>
        </div>



        <button class="btn btn-success">Place order</button>
    </form>
</div>

</body>
</html>